$white-color: #ffffff;
$black-color: #000000;

$primary-color: #240d57;
$purple-color: #501fc1;

$gradient-from: #8456ec;
$gradient-to: #e87bf8;

$purple-light: #ccb6ff;
$purple-light-thin: #ede5ff;
$purple-lightest: #f6f2ff;

$pink: #ffd7e0;
$red: #e61445;
$light-green: #d3ffe2;
$dark-green: #00805e;

$primary-background-1: #f6f2ff;
$primary-background-2: #fbfaff;

$dark-text: #4f4f4f;
$dark-gray-text: #828282;
$light-gray: #bdbdbd;

$silver: #e0e0e0;
$silver-lite: #f2f2f2;
$white-shaded: #fbfaff;
