@import "./colors.scss";
@import "./mixins.scss";
@import "./config.scss";

.max-container {
  max-width: 120rem;
  padding: 6rem 3rem;
  margin: auto;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-screen) {
    height: 100vh;
    padding: 0 3rem;
  }
}

.event-container-width {
  max-width: 109rem;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0 0;

  @media (min-width: $mobile-screen) {
    padding: 6rem 3rem;
  }
}
